.firstHeader {
  background-color: #1CD1B0;
  height: 38px;  
  padding-left: 29px;  
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

.containerSuperHerois {
  background-color: #00669F;   
  height: 101px; 
  padding-left: 10px; 
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.4); 
  position: sticky; 
  top: 0px;  
  z-index: 100000; 
}

.heroisTitle {
  font-size: 3.2rem; 
  margin-left: 15px;   
}

.container-home {
  margin: 87px auto;   
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cardHerois {
  margin-right: 86px;  
}


.cardHeroisChildOne{
  width: 374px;
  height: 217.81px;  
  background-color: red; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  background: url("../assets/imgs/plano_de_fundo_batman.png");  
}

.cardHeroisChildThree {
  width: 374px;
  height: 217.81px;  
  background-color: red; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  background: url("../assets/imgs/plano_de_fundo_arlequina.png");    
}

.cardHeroisChildTwo {
  width: 374px;
  height: 379.2px; 
  background-color: #F3F3F3;   
}

.coracao {
  width: 10%; 
  margin-top: 20px;
  margin-left: 20px;  
}

.containerCoracao {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

.circle {
  position: relative; 
  width: 138px;
  height: 138px; 
  border-radius: 50%;  
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; 
        
}

.containerHistory {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 100px;  
  padding-left: 36px;
  padding-right: 36px;  
}

.titleBatman {
  margin-bottom: 30px;
  font-size: 2.2rem;    
}

.textAboutBtaman { 
  margin-bottom: 25px; 
  text-align: center; 
}

.batman {
  width: 100%;  
  border-radius: 50%;  
}

.buttonBatman {
  width: 145.34px;
  height: 54.76px; 
  color: white;
  background-color: #00669F; 
  cursor: pointer; 
  border: none; 
}

.containerFooter { 
  color: white; 
  height: 51px;
  background-color: #00669F;   
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding-left: 25px;   
} 

.LinkBat {
  text-decoration: none; 
  color: white;  
}


@media(max-width: 410px) { 
  .heroisTitle {
    font-size: 2rem; 
  }

  .containerFooter {
    font-size: .9rem; 
  }

  .cardHerois {
    width: 99%; 
    margin-right: 0px; 
  } 

  .cardHeroisTwo {
    width: 99%; 
    margin-right: 0px; 
  }

  .cardHeroisChildOne{ 
    width: 99%;   
    margin-right: 0px;   
  } 

  .cardHeroisChildTwo{ 
    width: 99%;   
    margin-right: 0px; 
  }

  .cardHeroisChildThree {
    width: 99%;   
    margin-right: 0px; 
  } 
}

@media(max-width: 868px) { 
  .container-home {
    flex-direction: column; 
  }

  .cardHerois {
    margin-right: 0;
    margin-bottom: 30px;   
  }
}

